/* Menu.css - Estilos para el menú de navegación */

.navbar-brand-title {
  font-size: 1.8rem;
}

.user-info {
  font-size: 0.9rem;
}

.user-badge {
  color: white;
  padding: 0.35em 0.65em;
  border-radius: 0.375rem;
  font-size: 0.875em;
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
}

.user-badge-premium {
  background-color: var(--primary-color);
}

.user-badge-plus {
  background-color: var(--quaternary-color);
}
