# Archivos de entorno (contienen claves privadas)
.env
.env.local
.env.development
.env.production

# Node modules
node_modules

# Logs
src/utils/logger
src/utils/logger/*.log
src/utils/logger/*.json

